   <!-- >>>>>>>>>>>>>>>> Welcome Area Start <<<<<<<<<<<<<<<< -->
    <section class="landing_welcome_area landing_one_version" style="background-image: url(http://www.motherearthnews.com/-/media/Images/MEN/Editorial/Blogs/Homesteading-and-Livestock/Langstroth-Top-Bar-Or-Warre-Choosing-The-Right-Hive/lw1-jpg.jpg);" id="home">
        <div class="table">
            <div class="table_cell">
                <div class="container">
                    <div class="row">
                        <!-- Welcome Text  -->
                        <div class="landing_hero_text text-center">
                            <h2 style="color:orange; "class="fonts-shadow-into-light">APIARY</h2>
                            <p>A tool for beekeepers. </p>
                            <a href="/signup" class="landing_button">Join the Hive</a>
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- >>>>>>>>>>>>>>>> Welcome Area End <<<<<<<<<<<<<<<< -->
   
