<h1>All of <%= current_beekeeper.first_name %>'s Hives</h1>

  <% @hives.each do |hive| %>
      <%= render partial: "hive", locals: {hive: hive, level: 1} %>
  <% end %>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
       <div id="chart_div"></div>


