
<!-- >>>>>>>>>>>>>>>> Breadcumb Area Start <<<<<<<<<<<<<<<< -->
    <section class="breadcumb_area background-overlay" style="background-image: url(http://jewelwpg.com/wp-content/uploads/bee-on-flower-Pakhnyushchy-Shutterstock.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="breadcumb_section">
                        <!-- Breadcumb Page Title -->
                        <div class="page_title">
                            <h3>Hello <%= current_beekeeper.first_name %>,</h3>
                        </div>
                        <!-- Breadcumb Page Pagination -->
                        <ol class="breadcrumb">
                            <li><a href="/">Home</a></li>
                            
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- >>>>>>>>>>>>>>>> Breadcumb Area End <<<<<<<<<<<<<<<< -->

    <section class="section_padding_100">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">

                    <h3 style="color:orange;"> Your Apiary </h3>
                    <% current_beekeeper.hives.each do |hive| %>
                        <h4>Hive Name: <a href="/hives/<%= hive.id %>"><%= hive.hive_name %></a> </h4>
                           <h5> Late Check Status: <%= hive.last_log%><br> </h5>   

                        <% end %>
                </div> 
            </div>
        </div>
    </section>



