<!DOCTYPE html>
<html lang="en">


  <head>
    <title>Apiary</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- Owl-carousel js -->
    <script src="/js/owl.carousel.min.js"></script>
    <!-- Plugins js -->
    <script src="/js/plugins.js"></script>
    <!-- Ajax Contact js -->
    <script src="/js/ajax-contact.js"></script>
    <!-- Onepage Nav js -->
    <script src="/js/jquery.nav.min.js"></script>
    <!-- YTplayerjs -->
    <script src="/js/YTplayer.min.js"></script>
    <!-- Isotope js -->
    <script src="/js/isotope.pkgd.min.js"></script>
    <!-- Imagesloaded js -->
    <script src="/js/imagesloaded.min.js"></script>
    <!-- WOW js -->
    <script src="/js/wow.min.js"></script>
    <!-- Active js -->
    <script src="/js/active.js"></script>


      <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>Classy - Multipurpose Template | Service Landing</title>

    <!-- Favicon  -->
    <link rel="shortcut icon" href="/img/core-img/favicon.ico">

    <!-- >>>>>>>>>>>>>>>> All CSS Files <<<<<<<<<<<<<<<< -->

    <!-- Core Style CSS -->
    <link rel="stylesheet" href="/css/core-style.css">

    <!-- Switch Fonts -->
    <link rel="stylesheet" href="/css/fonts/opensans-lato.css">
    <link rel="stylesheet" href="/css/fonts/shadow-into-light.css">

    <!-- Style CSS -->
    <link rel="stylesheet" href="/style.css">

    <!-- Responsive css -->
    <link rel="stylesheet" href="/css/responsive.css">
    </head>
  <body>
  <!-- >>>>>>>>>>>>>>>> Header Area Start <<<<<<<<<<<<<<<< -->
    <header>
        <div class="wsmenucontainer clearfix">
            <!-- Mobile Header Area -->
            <div class="wsmobileheader clearfix">
                <a id="wsnavtoggle" class="animated-arrow"><span></span></a>
                <a class="smallogo"><img src="img/core-img/agency-logo.png" alt="" width="25"></a>
                <a class="callusicon" href="tel:123456789"><span class="fa fa-phone"></span></a>
            </div>
            <!-- Mobile Header Social Icon Area -->
            <div class="headtoppart clearfix">
                <div class="headerwp">
                    <div class="headertopleft">
                        <div class="address clearfix"><span><i class="fa fa-map-marker" aria-hidden="true"></i> Chicago, IL </span></div>
                    </div>
                    <div class="headertopright">
                        <a class="twittericon" title="Twitter" href="#" target="_blank"><i aria-hidden="true" class="fa fa-twitter"></i><span class="mobiletext02">Twitter</span></a>
                        <a class="linkedinicon" title="Linkedin" href="#" target="_blank"><i aria-hidden="true" class="fa fa-linkedin"></i><span class="mobiletext02">Linkedin</span></a>
                    </div>
                </div>
            </div>
            <!-- Main Header Start -->
            <div class="headerfull animated">
                <div class="wsmain">

                    <!-- Logo Area -->
                    <div class="smllogo">
                        <a href="index.html"><img src="img/core-img/agency-logo.png" alt=""></a>
                    </div>

                    <!-- Navigation Area Start -->
                    <nav class="wsmenu clearfix">
                        <ul class="mobile-sub wsmenu-list">
                            <li class="rightmenu">
                                <form class="topmenusearch">
                                    <input placeholder="Search...">
                                    <button type="submit" class="btnstyle"><i class="searchicon fa fa-search" aria-hidden="true"></i></button>
                                </form>
                            </li>
                            <li><a href="#"><i class="fa fa-home"></i>Apiary<span class="arrow"></span></a>
                                <ul class="wsmenu-submenu">
                                    <li><a href="/hives" target="_blank">Hives</a></li>
                                    <li><a href="/hive">Add a Hive</a>
                                    </li>
                                </ul>
                            </li>
                            
                           
                    </nav>
                    <!-- Navigation Area End -->
                </div>
            </div>
        </div>
    </header>
    <!-- >>>>>>>>>>>>>>>> Header Area End <<<<<<<<<<<<<<<< -->

    <!-- >>>>>>>>>>>>>>>> Footer Area Start <<<<<<<<<<<<<<<< -->
    <%= yield %>


    <footer class="footer_area">
       
        </div>
        <!-- Footer Bottom Area Start -->
        <div class="foo_bottom_header_one section_padding_50 text-center">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <p>&copy; All Rights Reserved | Design &amp; Develop by <a href="#">Designing World</a></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- >>>>>>>>>>>>>>>> Footer Area End <<<<<<<<<<<<<<<< -->

    
   



  </body>
</html>